.footer {
    background-color: #e4e8f3;
    /* margin-top: 100px; */

}

.footer ul li {
    list-style-type: none;
    line-height: 30px;
    font-size: 15px;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d0d3da;
    height: 60px;
}

.footer_icon i {
    padding-top: 10px;
    font-size: 30px;
    color: blue;
}

.footer_icon .tweeter {
    padding: 0;
    height: 30px;
    width: 30px;

}

.footer_icon .linkedin {
    width: 33px;
}

.footer_icon .instagram_footer {
    padding-top: 1px;
    width: 33px;


}

.footer_row1 a {
    color: black;
}

@media(max-width: 520px) {

    .footercolum1,
    .footercolum2,
    .footercolum3 {
        display: none;
        visibility: hidden;
    }

    .footercolum4 {
        text-align: center !important;
        width: 100vw !important;
    }

    .footer_icon .row {
        padding-left: 140px;
        width: 100vw !important;
    }


}