@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');



body {
    position: relative;
    font-family: 'Roboto', sans-serif !important;
}

.whatsapp_icon img {
    position: absolute;
    z-index: 10;
    right: 5%;
    bottom: 7%;
    position: fixed;
}

@keyframes popUp {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}



.whatsapp-icon {
    animation: popUp 1.2s infinite ease-out;
}

.container {
    max-width: 1240px !important
}


.main {
    height: 100%;
}



.main_contain {
    height: 70vh;
}

.navbar {
    transition: top 0.3s;
}

.navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav_contain {
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
    font-size: 18px !important;
}

.navbar-collapse {
    display: flex;
    justify-content: end;

}

.nav_contain {
    width: 88vw;
}

.navbar-brand img {
    width: auto;
    height: 65px;
}





.nav_co_text1 {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    padding-right: 10% !important;
}

.fb-ico {
    position: absolute;
    left: 40%;
}


.makeappointment {
    background-color: rgb(83, 209, 25);
}

@media (width<=991px) {
    .main {
        height: 90vh;
    }

    .navbar-collapse {
        display: flex;
        justify-content: center;

    }

    .nav_contain {
        width: 100vw !important;
    }

    .navbar-brand img {
        width: auto;
        height: 30px;
    }



}

@media (min-width=700px) {
    .navbar-collapse {
        display: flex !important;
        justify-content: center !important;

    }



}

@media (max-width: 550px) {

    .main {
        height: 43vh !important;
    }

    .fb-ico {
        position: absolute;
        left: 17%;
    }

    .makeappointment {
        font-size: 13px;
    }

}