{% extends "base.html" %}
{% load static %}
{% block content %}
<div class=" main1 main1_package overflow-hidden">
    <div class="container-fluid  p-0 ">
        <div class="row main_row ">
            <div class="col-12 page_package w-100">
                <div class="row w-100 p-0 m-0">
                    <div class="col-md-6 col-12  package_col1 p-0">
                        <div class="package_text2 overflow-hidden">
                            Privacy & Policy
                        </div>

                        {% comment %} <div class="package_text3">
                            {{blog.subject}}
                        </div> {% endcomment %}
                    </div>
                    <div class="col-md-6 col-12  package_image p-0">
                        <img src="{% static './image/package.jpg' %}" class="d-block w-100" alt="...">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- main page 2 -->
<div class=" pt-md-0 pt-5 pt-2  pb-5 blog_ditails">
    <div class="container-fluid  main2_contain ">
        <div class="row main2_row1 overflow-hidden">

            <div class="col-md-12 col-12 main2_column2 
              p-0 ps-5 overflow-hidden">
                {% for detail in terms %}
                <p class="h2 text-dark">
                    {{ detail.heading }}
                 
                </p> 
                <p class="pt-3 ">
                    {{ detail.description }}
                    
                </p>
                {% endfor %}
            </div>

        </div>
    </div>
</div>


{% endblock %}