{% extends "base.html" %}
 {% load static %}
{% block content %}
<div class="main1_about overflow-hidden">
    <div class="container-fluid p-0 ">
        <div class="row main_row ">
            <div class="col-12 page_about w-100">
                <div class="row w-100 p-0 m-0">
                    <div class="col-md-6 col-12  about_col1 p-0  ">
                        <div class="about_text2 overflow-hidden">
                            About Us
                        </div>
                        <div class="about_text3 pt-md-0 pt-3">
                            GMRL Labs: Tripunithura's hub for affordable Health Check Ups
                            with cutting-edge analyzers, prioritizing your well-being.
                        </div>
                    </div>
                    <div class="col-md-6 col-12  about_image p-0">
                        <img src="{% static './image/banner1.jpg' %}" class="d-block w-100" alt="...">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- main page 2 -->
<div class="main2 pt-4  pb-5">
    <div class="container-fluid  main2_contain ">
        <div class="row main2_row1 overflow-hidden">

            <div class="col-md-7 col-12 main2_column2  p-0 ps-5 overflow-hidden">
                <p class="overflow-hidden main2_text1  text-primary">Welcome to GMRL Labs</p>
                <h5 class="overflow-hidden main2_text2   headings">Elevating Health Through
                    Precision Diagnostics: GMRL Laboratories</h5>
                <p class="overflow-hidden  fw-bolder a_text pt-4">Welcome To GMRL Laboratories</p>
                <p class="overflow-hidden a1_text">Best Laboratory in Ernakulam, a beacon of healthcare
                    excellence situated
                    in the heart of
                    Thrippunithura. Our commitment is to bring you comprehensive and affordable Health
                    Check-Up
                    Packages, ensuring your well-being is our top priority.</p>
                <p class=" overflow-hidden main2_text5 a_text fw-bolder">Cutting-edge Technology for
                    Accurate
                    Results
                </p>
                <p class="overflow-hidden a1_text">At GMRL Laboratories, our state-of-the-art facility
                    is
                    equipped with
                    fully automated analyzers,
                    demonstrating our dedication to excellence. Additionally, these analyzers undergo
                    daily
                    verification against Biorad USA Quality Controls, assuring you not only accuracy but
                    also
                    reliability in every diagnostic result. Moreover, we understand the significance of
                    your
                    health,
                    and our stringent quality assurance practices reflect our commitment to providing
                    the
                    best
                    possible care.</p>
                <p class="a_text fw-bolder overflow-hidden main2_text6">
                    Guiding You Through Your Health Journey
                </p>
                <p class="overflow-hidden a1_text">
                    Our team of dedicated professionals is here to guide you through every step of your
                    health
                    assessment journey. With a mission to provide the highest standard of care and
                    convenience,
                    we ensure that your experience at GMRL Laboratories is both seamless and empowering.
                    Your
                    health is not just a diagnosis to us; it’s a journey, and we’re honored to be your
                    trusted
                    partner on the path to a healthier, happier life.

                <p class="a_text fw-bolder overflow-hidden main2_text8">

                    The Human Touch in Healthcare
                </p>
                <p class="overflow-hidden a1_text">

                    What sets us apart is not just our advanced technology but the human touch we bring
                    to
                    healthcare. We believe in creating a supportive environment where you feel informed
                    and
                    cared for. Furthermore, from precise testing to comprehensive health assessments, we
                    strive
                    to make your experience with GMRL Laboratories both enriching and reassuring.</p>
                </p>
                <p class="a_text fw-bolder overflow-hidden main2_text10">Looking Ahead with Innovation
                </p>
                <p class="overflow-hidden a1_text">

                    As we look ahead, our commitment to innovation and excellence remains unwavering. We
                    understand
                    that a proactive approach to healthcare is essential. Therefore, we are here to
                    empower
                    you with
                    the knowledge and insights needed to make informed decisions about your well-being.
                </p>
                {% for i in about %}
                <p class="a_text fw-bolder overflow-hidden main2_text10">
                    {{i.heading}}
                </p>
                <p class="overflow-hidden a1_text">
                    {{i.description}}
                </p>
                {% endfor %}
            </div>
            <div class="col-md-5 col-12 main2_column1 p-0   overflow-hidden">
                <div class="image overflow-hidden ms-md-5 ms-0 main2_column1_image ">
                    <img src="{% static './image/welcome-image.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- main2 -->

</div>
{% endblock  %}