{% extends "base.html" %}
{% load static %}
{% block content %}
<div class=" main1contain braches overflow-hidden">
    <div class="container-fluid branches_contain p-0 ">
        <div class="row main_row ">
            <div class="col-12 page_about w-100">
                <div class="row w-100 p-0 m-0">
                    <div class="col-md-6 col-12  about_col1 p-0">
                        <div class="about_text2 overflow-hidden">
                            Branches
                        </div>
                        <div class="about_text3 pt-md-0 pt-3">

                            GMRL Labs: Affordable health check-ups, precision diagnostics,
                            and convenient branches for your well-being.
                        </div>
                    </div>
                    <div class="col-md-6 col-12  branch_image p-0">
                        <img src="{% static './image/branches.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main_branches pt-md-0 pt-3">
    <div class="container pagesall pt-sm-0 pt-5">
        <div class="row branchpage_nocarosel">
            {% for i in branch %}
            <div class="col-lg-4 pb-4">
                <a href="{% url 'frond:branch_detail' i.id %}" class="branch-item-con">
                    <div class="branch-image">
                        <i class="fas fa-link"></i>
                        <img width="300" height="230" src="{{i.branch_image.url}}"
                            class="attachment-medium size-medium wp-post-image" alt="no image" decoding="async"
                            loading="lazy" />
                    </div>
                    <div class="branch-text">
                        <h6>GMRL Laboratories {{i.branch_place}}</h6>

                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>


</div>
{% endblock %}