{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main_contactus overflow-hidden">
    <div class="container-fluid  p-0 ">
        <div class="row main_row ">
            <div class="col-12 page_about w-100">
                <div class="row w-100 p-0 m-0">
                    <div class="col-md-6 col-12  about_col1 p-0">
                        <div class="about_text2 overflow-hidden">
                            Contact Us
                        </div>
                        <div class="about_text3">

                            Connect with GMRL Labs for personalized health solutions –
                            your well-being is just a call away.
                        </div>
                    </div>
                    <div class="col-md-6 col-12  contact_image p-0">
                        <img src="{% static './image/package.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main_contactuspage">
    <div class="container">
        <div class="row pt-5">
            <div class="col-3 p-2 contactus_box1 me-1 pt-3">
                <a href="tel:+91 81388 6262 ">
                    <div class="icon1_contactus">

                        <svg width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">

                            <g id="SVGRepo_bgCarrier" stroke-width="0" />

                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M2.00589 4.54166C1.905 3.11236 3.11531 2 4.54522 2H7.60606C8.34006 2 9.00207 2.44226 9.28438 3.1212L10.5643 6.19946C10.8761 6.94932 10.6548 7.81544 10.0218 8.32292L9.22394 8.96254C8.86788 9.24798 8.74683 9.74018 8.95794 10.1448C10.0429 12.2241 11.6464 13.9888 13.5964 15.2667C14.008 15.5364 14.5517 15.4291 14.8588 15.0445L15.6902 14.003C16.1966 13.3687 17.0609 13.147 17.8092 13.4594L20.8811 14.742C21.5587 15.0249 22 15.6883 22 16.4238V19.5C22 20.9329 20.8489 22.0955 19.4226 21.9941C10.3021 21.3452 2.65247 13.7017 2.00589 4.54166Z"
                                    fill="#fcfcfc" />
                            </g>

                        </svg>

                    </div>
                </a>
                <div class="contactuspage_text1">Phone</div>
                <a href="tel:+91 81388 6262" class="contactuspage_text2 text-dark">+91 81388 6262</a>
                <a href="tel:0484 5647 232" class="contactuspage_text3 text-dark">0484 5647 232 </a>

            </div>
            <div class="col-3 p-2 contactus_box1 me-1">
                <a href="mailto:info@gmrllabs.com">
                    <div class="icon1_contactus">
                        <a href="mailto:info@gmrllabs.com">
                            <svg width="28" height="28" viewBox="0 -4 32 32" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="#000000">

                                <g id="SVGRepo_bgCarrier" stroke-width="0" />

                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

                                <g id="SVGRepo_iconCarrier">
                                    <title>mail</title>
                                    <desc>Created with Sketch Beta.</desc>
                                    <defs> </defs>
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                        sketch:type="MSPage">
                                        <g id="Icon-Set" sketch:type="MSLayerGroup"
                                            transform="translate(-412.000000, -259.000000)" fill="#ffffff">
                                            <path
                                                d="M442,279 C442,279.203 441.961,279.395 441.905,279.578 L433,270 L442,263 L442,279 L442,279 Z M415.556,280.946 L424.58,271.33 L428,273.915 L431.272,271.314 L440.444,280.946 C440.301,280.979 415.699,280.979 415.556,280.946 L415.556,280.946 Z M414,279 L414,263 L423,270 L414.095,279.578 C414.039,279.395 414,279.203 414,279 L414,279 Z M441,261 L428,271 L415,261 L441,261 L441,261 Z M440,259 L416,259 C413.791,259 412,260.791 412,263 L412,279 C412,281.209 413.791,283 416,283 L440,283 C442.209,283 444,281.209 444,279 L444,263 C444,260.791 442.209,259 440,259 L440,259 Z"
                                                id="mail" sketch:type="MSShapeGroup"> </path>
                                        </g>
                                    </g>
                                </g>

                            </svg>

                    </div>
                </a>
                <div class="contactuspage_text1">Email</div>
                <a href="mailto:info@gmrllabs.com" class="contactuspage_text2 text-dark">info@gmrllabs.com</a>
            </div>
            <div class="col-3 p-2 contactus_box1 me-1">
                <div class="icon1_contactus">
                    <svg fill="white" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="28" height="28" viewBox="0 0 395.71 395.71"
                        xml:space="preserve">
                        <g>
                            <path d="M197.849,0C122.131,0,60.531,61.609,60.531,137.329c0,72.887,124.591,243.177,129.896,250.388l4.951,6.738
                                c0.579,0.792,1.501,1.255,2.471,1.255c0.985,0,1.901-0.463,2.486-1.255l4.948-6.738c5.308-7.211,129.896-177.501,129.896-250.388
                                C335.179,61.609,273.569,0,197.849,0z M197.849,88.138c27.13,0,49.191,22.062,49.191,49.191c0,27.115-22.062,49.191-49.191,49.191
                                c-27.114,0-49.191-22.076-49.191-49.191C148.658,110.2,170.734,88.138,197.849,88.138z" />
                        </g>
                    </svg>
                </div>
                <div class="contactuspage_text1">Address</div>
                <div class="contactuspage_text2">
                    GMRL Laboratories Chambakkara, Ernakulam, Ernakulam - 682011
                </div>
            </div>
            <div class="col-3 p-2 contactus_box1 me-1">
                <div class="icon1_contactus">
                    <svg width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path
                                d="M12 7V12L14.5 13.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                                stroke="#f7f7f7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                        </g>
                    </svg>

                </div>
                <div class="contactuspage_text1">Opening Hours</div>
                <div class="contactuspage_text2">
                    Mon - Sat : 6:30pm to 6:00pm
                    Sun : 6:30am - 12:30pm
                </div>


            </div>
        </div>
    </div>
</div>
<div class="contact_page">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 pe-lg-5">
                <img width="600" height="400" src="{% static './image/tests.jpg' %}" alt="no image" />
            </div>
            <div class="col-lg-7 ps-lg-4">
                <h4>Send us a message</h4>
                <p>Connect with us and share your thoughts – your message matters to us.</p>
                <form action="" method="post" enctype="multipart/form-data" onsubmit="return ContactForm()">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <p>
                                <span>
                                    <input placeholder="Name" type="text" name="name" id="contact_name" />
                                </span>
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6">

                            <p>
                                <span>
                                    <input placeholder="Email" type="email" name="email" id="contact_email" />
                                </span>
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <p>
                                <span>
                                    <input placeholder="Phone" type="text" name="phone" id="contact_phone" />
                                </span>
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <p>
                                <span>
                                    <input placeholder="Subject" name="subject" value="" type="text" id="subject" />
                                </span>
                            </p>
                        </div>
                        <div class="col-lg-12">
                            <p><span>
                                    <textarea placeholder="Message" name="message" id="message"></textarea>
                                </span>
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <p>
                                <button class="btn btn-primary submit-btn" type="submit">SUBMIT</button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container pt-5">
    <div class="googlemap pb-5">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.776658073607!2d76.32081297577808!3d9.95253157384822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0873f5f90cc883%3A0x6b02b06cd62db722!2sGMRL%20Laboratories%20Chambakkara!5e0!3m2!1sen!2sin!4v1700033373524!5m2!1sen!2sin"
            width="100%" height="450">
        </iframe>
    </div>
</div>
<script src="{% static 'js/Contactform.js' %}"></script>
{% endblock %}