{% extends "base.html" %}
{% load static %}
{% block content %}
<div class=" main1 main1_package overflow-hidden">
    <div class="container-fluid  p-0 ">
        <div class="row main_row ">
            <div class="col-12 page_package w-100">
                <div class="row w-100 p-0 m-0">
                    <div class="col-md-6 col-12  package_col1 p-0">
                        <div class="package_text2 overflow-hidden">
                            Our Package
                        </div>
                        <div class="package_text3">
                            Explore affordable Health Check Up packages at GMRL Labs, Tripunithura,
                            ensuring precision and well-being with advanced analyzers.
                        </div>
                    </div>
                    <div class="col-md-6 col-12  package_image p-0">
                        <img src="{% static './image/package.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main page 2 -->
<div class=" package_page_main  overflow-hidden ">
    <div class="container-fluid  package_page_contain overflow-hidden">
        <div class="row main2_row1 overflow-hidden">

            <div class="col-md-7 col-12 main2_column2 package_items p-0 ps-5 overflow-hidden">
                <p class="h4">{{detailpackage.package_name}}</p>
                <ul class="ps-3 pt-2">
                    <!-- <li>Blood Sugar</li> -->
                    {% for test in tests_list %}
                    <li class="pb-1 "> • &nbsp;&nbsp;{{ test }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-5 col-12 main2_column1 p-0   overflow-hidden">
                <div class="row">
                    <div class="col-12 ps-5 ms-3">
                        <h5 class="package-price-single  text-center text-white  py-2  rounded-1">
                            <font>From: <i class="fas fa-rupee-sign"></i>{{detailpackage.price}}</font>
                        </h5>
                    </div>
                    <div class="col-12">
                        <div class=" overflow-hidden ms-md-5 ms-0 ps-1  rounded-1" style="width:79%; height:70%;">
                            <img class="rounded-1" src="{{detailpackage.image.url}}" alt=""
                                style="width:100%; height:400px;">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="main5 pb-3">
    <div class="container ">
        <div class="pb-5">
            <div class="h1 text-center">Other Packages</div>
            <p class="text-center">Explore a curated selection of premium packages designed to elevate your experience
                and
                meet your unique
                needs.</p>
        </div>
        <div class="package-scroll row">
            {% for i in test_packages %}
            <div class="col-lg-4">
                <a href="{% url 'frond:detailpackage'  i.id %}" class="package-item-con">
                    <h5>
                        <div class="fontawsome" style="height: fit-content !important; padding-bottom: 10px;">From: <i
                                class="fas fa-rupee-sign"></i> {{i.price}}
                        </div>
                    </h5>
                    <div class="package-image">
                        <i class="fas fa-link"></i>
                        <img width="300" height="230" src="{{i.image.url}}" class="main6_review"
                            alt="{{i.image.url}}" />
                    </div>
                    <div class="package-text">
                        <h6>{{i.package_name}}</h6>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}