/* main page 6 carousel  */
.main6_headings {
    font-family: "Oswald", sans-serif !important;
    font-optical-sizing: auto;
    font-size: 40px;
    font-weight: 100;
    width: 100%;
}

/* carousel */

.main6_package-item-con {
    width: fit-content;
    padding: 0;
    margin: 0;
    position: relative;
    display: block;
    border: 1px solid rgb(241, 187, 85);

}

.main6_package-text1 {
    width: 400px;
    height: 220px;
    display: block;
    position: relative;
    background: rgb(226, 222, 222);
    overflow: hidden;
}

.main6_package-text2 {
    width: 100%;
    height: 80px;
    display: table;
    position: relative;
    text-align: left;
    color: rgb(0, 0, 0);
    transition-duration: .9s;
    padding: 0px 35px 0px 20px;
    background-color: #dbdbdb;
    border-top: 1px solid rgb(241, 187, 85);

}

.main6_package-text2 h6 {
    position: absolute;
    top: 10px;
    left: 70px;
    width: 400px;
    padding: 0;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    transition-duration: 0.3s;

}

.main6_package-text2 p {
    position: absolute;
    top: 34px;
    left: 70px;
    padding: 0;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    transition-duration: 0.3s;
}

.main6_package-text2 img {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 38px;
}

.main6_package-item-con:hover {
    border: 1px solid black;
}

.main6_package-item-con:hover .main6_package-text2 {
    border-top: 1px solid black;
}

.main6_package-scroll {
    margin-left: -8px;
    margin-right: -8px;
}

.main6_package-scroll .col-lg-4 {
    padding-left: 8px;
    padding-right: 8px;
}

.main6_review {
    font-style: italic !important;
}

@media(max-width: 768px) {

    .main6_headings {
        font-family: 'Oswald', sans-serif !important;
        font-weight: 300;
        font-size: 30px !important;
        text-align: center;
        padding: 0;
        margin: 0px 0px 35px 0px;
    }


}

@media(max-width: 528px) {
    .main6_package-item-con {

        width: 100vw !important;
    }
}