.main8 {

    margin-bottom: -45px;
}

.main8col1 {
    border-right: 1px solid black;
    background-color: #85ba32;
}

.main8col2 {
    overflow-x: visible !important;
}

.main8row2 {
    position: relative;
}

.main8_booknow {
    position: absolute;
    color: #85ba32;
    top: 29%;
    right: 4%;
    padding: 7px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    background-color: rgb(24, 44, 24);
}

.main8_openhours {
    background-color: #85ba32;
}