.main2col {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.main2col {
    width: 20% !important;
    float: left;
}




.main-btm-buttons {
    width: 100%;
    display: block;
    border-top: 1px solid #c8cfe6;
    border-bottom: 1px solid #c8cfe6;
    margin-top: 100px;
}

.main-btm-buttons .row {
    margin-left: 0px;
    margin-right: 0px;
}

.main-btm-buttons .row .main2col {
    padding-left: 0px;
    padding-right: 0px;
    border-right: 1px solid #c8cfe6;
    text-align: center;
}

.main-btm-buttons .row .main2col:last-child {
    border-right: none;
}

.main-btm-buttons .row .main2col h6 {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 15px;

    font-weight: 100;
    overflow: hidden !important;
}

.main-btm-buttons .row .main2col span {
    width: 64px;
    height: 58px;
    background: url("../welcome-btm-icons.png") no-repeat;
    display: inline-block;
    transition-duration: 0.3s;

}

.main-btm-buttons .row .main2col a {
    width: 100%;
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 24px 0px;
    color: #636363;


}

.main-btm-buttons .row .main2col:nth-child(2) span {
    background-position-x: -64px;
}

.main-btm-buttons .row .main2col:nth-child(3) span {
    background-position-x: -128px;
}

.main-btm-buttons .row .main2col:nth-child(4) span {
    background-position-x: -192px;
}

.main-btm-buttons .row .main2col:nth-child(5) span {
    background-position-x: -256px;
}

.main-btm-buttons .row .main2col a:hover span {
    background-position-y: -58px;
}

/* media */
@media screen and (max-width: 700px) {

    .main-btm-buttons .main2col:nth-child(1),
    .main-btm-buttons .main2col:nth-child(2),
    .main-btm-buttons .main2col:nth-child(3),
    .main-btm-buttons .main2col:nth-child(4) {
        width: 100% !important;
    }

    .main-btm-buttons .main2col:nth-child(2),
    .main-btm-buttons .main2col:nth-child(3),
    .main-btm-buttons .main2col:nth-child(4) {
        border-left: 1px solid #c8cfe6 !important;
        border-top: 1px solid #c8cfe6 !important;
    }

    .main-btm-buttons .main2col:nth-child(5) {
        width: 100% !important;
        border-top: 1px solid #c8cfe6 !important;
        border-left: 1px solid #c8cfe6 !important;
        border-right: 1px solid #c8cfe6 !important;
    }

    .main-btm-buttons .main2col:nth-child(1),
    .main-btm-buttons .main2col:nth-child(3) {
        border-left: 1px solid #c8cfe6 !important;
    }
}